# 입출력 받아보기 문제 풀이

## 입력 받기

In [2]:
a, b = map(int, input().split())
print(a+b)
# map, input().split()의 활용

1 2
3

## 그대로 출력하기
> 입력 받은 대로 출력하는 프로그램을 작성하시오

In [5]:
a = input().split()
print(a)

hi hello
['hi', 'hello']

In [6]:
# 엔터가 입력이 안 된다. 그러면 입력을 여러번 받아보자.
a = input()
b = input()
print(a + b)

hello
bye
hellobye

In [3]:
a = ['']*5
for i in range(0, 5):
    a[i] = input()
for i in range(0, 5):
    print(a[i])
    
# 원본은 100줄, 모듈을 사용해서 풀면 되는데 런타임 에러가 나서 실패하니 패스할 것.

hi
bye
good
thank you
hello
hi
bye
good
thank you
hello

# 사칙연산 도전하기 문제풀이

## 2839번

> Mirko works in a sugar factory as a delivery boy. He has just received an order: he has to deliver exactly N kilograms of sugar to a candy store on the Adriatic coast. Mirko can use two types of packages, the ones that contain 3 kilograms, and the ones with 5 kilograms of sugar. Mirko would like to take as few packages as possible. For example, if he has to deliver 18 kilograms of sugar, he could use six 3-kilogram packages. But, it would be better to use three 5-kilogram packages, and one 3-kilogram package, resulting in the total of four packages. Help Mirko by finding the minimum number of packages required to transport exactly N kilograms of sugar.

입력: The first and only line of input contains one integer N (3 ≤ N ≤ 5000).

출력: The first and only line of output should contain the minimum number of packages Mirko has to use. If it is impossible to deliver exactly N kilograms, output -1.

In [52]:
m = input()
n = int(m)
x = 0
y = 0
if n < 8 and (n != 3 or n!=5):
    x = -1
elif n == 3:
    y = 1
elif n % 5 == 0:
        x = n//5
elif n % 5 == 3:
    x = n//5
    y = 1
else:
    if ((n % 5) + 5) % 3 == 0:
        x = n//5 - 1
        y = ((n % 5) + 5) // 3
    else:
        if ((n % 5) + 10) % 3 == 0:
            x = n//5 - 2
            y = ((n % 5) + 10) // 3
print(x+y)

19
5

In [11]:
m = input()
n = int(m)
li = []
x = 0
y = 0
o = -1
for k in range(0, 1000):
    for l in range(0, 1666):
        li.append([k,l])
for z in li:
    if n == 5*z[0] + 3*z[1]:
        result = z[0]+z[1]
if result == 0:
    print(o)
else:
    print(result)

4
-1

In [ ]:
# 위 코드 성공했는데 왜지?
# 아, 리스트 내에서 마지막 걸 뽑는데 그게 x가 가장 큰 거니까.
# 내가 리스트를 그 순서로 만들어놓음. 
# 해결!

# m = input()
# n = int(m)
# li = []
# x = 0
# y = 0
# o = -1
# result = []
# for k in range(0, 1000):
#     for l in range(0, 1666):
#         li.append([k,l])
# for z in li:
#     if n == 5*z[0] + 3*z[1]:
#         result.append(z)
# if bool(result) == 0:
#     print(o)
    
    
# # x가 가장 큰 결과로 출력하는 거 넣어주기
# else:
#     result.sort()
#     print(result[0])

# for문 사용해보기 문제풀이

## 2742

> 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 역순으로 출력하는 프로그램

In [2]:
n = input()
m = int(n)
li = list(range(1, m+1))
li.reverse()
for i in li:
    print(i)

2
2
1

## 2739
> 구구단 n단을 출력하는 프로그램

In [4]:
n = int(input())
for i in range(1, 10):
    print(f'{n} * {i} = {n*i}')

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

## 2438

>첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [5]:
n = int(input())
stars = ''
for i in range(1, n+1):
    stars += '*'
    print(stars)

5
*
**
***
****
*****

## 2439
> 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제. 
하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [12]:
n = int(input())
stars = ''
for i in range(1, n+1):
    stars += '*'
    print(' '*(n-i) + stars)

5
    *
   **
  ***
 ****
*****

## 2440
> 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

In [13]:
n = int(input())
stars = ''
for i in range(0, n):
    stars = '*'*(n-i)
    print(stars)

5
*****
****
***
**
*

## 2441
> 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제. 하지만, 오른쪽을 기준으로 정렬한 별을 출력하시오.

In [14]:
n = int(input())
stars = ''
for i in range(0, n):
    stars = '*'*(n-i)
    print(' '*i + stars)

5
*****
 ****
  ***
   **
    *

## 1924
> 문제: 오늘은 2007년 1월 1일 월요일이다. 그렇다면 2007년 x월 y일은 무슨 요일일까? 이를 알아내는 프로그램을 작성하시오.


* 입력: 첫째 줄에 빈 칸을 사이에 두고 x(1≤x≤12)와 y(1≤y≤31)이 주어진다. 참고로 2007년에는 1, 3, 5, 7, 8, 10, 12월은 31일까지, 4, 6, 9, 11월은 30일까지, 2월은 28일까지 있다.
* 출력: 첫째 줄에 x월 y일이 무슨 요일인지에 따라 SUN, MON, TUE, WED, THU, FRI, SAT중 하나를 출력한다.

In [23]:
x, y = input().split()
x, y = int(x), int(y)
dates = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
day = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
d = 0
for i in range(1, x):
    d += dates[i]
d = d + y
print(day[(d % 7)-1])

2 1
THU

## 8393
> 1부터 n까지의 합 구하기

In [25]:
n = int(input())
result = 0
for i in range(1, n+1):
    result += i
print(result)

3
6

## 11720
>N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.
* 입력: 첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

In [27]:
x = input()
y = input() 
x = int(x)
result = 0
for i in range(0, x):
    result += int(y[i])
print(result)

5
12345
15

## 11721
> 알파벳 소문자와 대문자로만 이루어진 길이가 N인 단어가 주어진다. 한 줄에 10글자씩 끊어서 출력하는 프로그램을 작성하시오.

In [31]:
s = input()
while s != '':
    print(s[:10])
    s = s[10:]

qwertasdfgzxcvb
qwertasdfg
zxcvb

## 15552
> 본격적으로 for문 문제를 풀기 전에 주의해야 할 점이 있다. 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있다는 점이다. Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다. 또한 입력과 출력 스트림은 별개이므로, 테스트케이스를 전부 입력받아서 저장한 뒤 전부 출력할 필요는 없다. 테스트케이스를 하나 받은 뒤 하나 출력해도 된다.
* 입력: 첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.
* 출력: 각 테스트케이스마다 A+B를 한 줄에 하나씩 순서대로 출력한다.

In [ ]:
import sys
n = sys.stdin.readline()
n = int(n)
for i in range(0, n):
    s = sys.stdin.readline()
    x, y = s.split()
    print(int(x)+int(y))

# if문 사용해보기
## 9498
>시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [52]:
score = int(input())
if score >=90 and score <=100:
    print('A')
elif score>=80 and score <=89:
    print('B')
elif score>=70 and score<=79:
    print('C')
elif score>=60 and score<=69:
    print('D')
else:
    print('F')

88
B

## 10817
>세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오.

In [53]:
x, y, z = map(int, input().split())
li = [x, y, z]
li.sort()
print(li[1])

5 4 7
5

## 10871
> 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.
* 입력: 첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000) 둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.
* 출력: X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다. X보다 작은 수는 적어도 하나 존재한다.

In [60]:
n, x = map(int, input().split())
li = list(map(int, input().split()))
for i in li:
    if i < x:
        print(i, end=' ')

5 2
1 2 3 4 5
1

## 1546
>세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다. 예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다. 세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.
* 입력: 첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.
* 출력: 첫째 줄에 새로운 평균을 출력한다. 정답과의 절대/상대 오차는 10-2까지 허용한다.

In [1]:
n = int(input())
li = list(map(int, input().split()))
max_i = max(li)
result = []
for i in li:
    result.append((i/max_i)*100)
print(sum(result)/len(result))

3
40 80 60
75.0

## 4344
> It is said that 90% of frosh expect to be above average in their class. You are to provide a reality check.
* input: The first line of standard input contains an integer C, the number of test cases. C data sets follow. Each data set begins with an integer, N, the number of people in the class (1 <= N <= 1000). N integers follow, separated by spaces, each giving the final grade (an integer between 0 and 100) of a student in the class. 
* output: For each case you are to output a line giving the percentage of students whose grade is above average, rounded to 3 decimal places.

In [ ]:
c = int(input())
for i in range(0, c):
    li = list(map(int, input().split()))
    ave = (sum(li)-li[0])/(len(li)-1)
    st_a = []
    for k in li:
        if k > ave:
            st_a.append(k)
    result = (len(st_a)/(len(li)-1))*100
    print(f'{result:.3f}%')

In [ ]:
# 소수점 자리수 늘리는 방법 질문함. print(f'{result:.3f}')
# 출력 예시 똑같이 나오는데 왜 틀렸다고 하지?

In [4]:
# c = int(input())
# for i in range(0, c):
#     li = list(map(int, input().split()))
#     ave = (sum(li)-li[0])/(len(li)-1)
#     st_a = []
#     for k in li:
#         if k > ave:
#             st_a.append(k)
#     result = (len(st_a)/(len(li)-1))*100
#     print(f'{result:.3f}%')

# t: 맨 앞의 숫자가 평균보다 크면 카운트에 들어가므로 끊어놓고 해야 함
# n = li[0]
# scores = li[1:]

c = int(input())
for i in range(0, c):
    li = list(map(int, input().split()))
    n = li[0]
    scores = li[1:]
    ave = sum(scores)/len(scores)
    st_a = []
    for k in scores:
        if k > ave:
            st_a.append(k)
    result = (len(st_a)/(len(scores)))*100
    print(f'{result:.3f}%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

## 1110
> 0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자. 26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다. 위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다. N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

In [5]:
n = int(input())
cnt = 0
m = n
n = str(n)
if int(n) < 10:
    n = '0' + n
n = str(int(n[-1])) + str(int(n[0]) + int(n[1]))[-1]
cnt += 1
while int(n) != m:
    n = str(int(n[-1])) + str(int(n[0]) + int(n[1]))[-1]
    cnt += 1
print(cnt)

1
60

## 4673
>In 1949 the Indian mathematician D.R. Kaprekar discovered a class of numbers called self-numbers. For any positive integer n, define d(n) to be n plus the sum of the digits of n. (The d stands for digitadition, a term coined by Kaprekar.) For example, d(75) = 75 + 7 + 5 = 87. Given any positive integer n as a starting point, you can construct the infinite increasing sequence of integers n, d(n), d(d(n)), d(d(d(n))), .... For example, if you start with 33, the next number is 33 + 3 + 3 = 39, the next is 39 + 3 + 9 = 51, the next is 51 + 5 + 1 = 57, and so you generate the sequence

>33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ...

>The number n is called a generator of d(n). In the sequence above, 33 is a generator of 39, 39 is a generator of 51, 51 is a generator of 57, and so on. Some numbers have more than one generator: for example, 101 has two generators, 91 and 100. A number with no generators is a self-number. There are thirteen self-numbers less than 100: 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, and 97.

>Write a program to output all positive self-numbers less than 10000 in increasing order, one per line.

In [27]:
a = list(range(1, 10000))
# result = [1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97]
s = 0
result = []
b = []
for i in a:
    s = i
    for k in list(str(i)):
        s += int(k)
    if (s in a) and (s != i):
        b.append(s)
result = list(set(a)-set(b))
result.sort()
for i in result:
    print(i)

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

## 1065
>어떤 양의 정수 X의 자리수가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오.

In [29]:
n = int(input())
li = []
for i in range(1, n+1):
    if i < 100:
        li.append(i)
    else:
        s = str(i)
        if int(s[0])-int(s[1]) == int(s[1])-int(s[2]):
            li.append(i)
print(len(li))

110
99

## 2448
>예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.
>입력: 첫째 줄에 N이 주어진다. N은 항상 3×2^k 수이다. (3, 6, 12, 24, 48, ...) (k ≤ 10)
>출력: 첫째 줄부터 N번째 줄까지 별을 출력한다.

In [80]:
import math
n = int(input())
m = int(n/3)
k = int(math.log((n/3), 2))
a = m*5 + m - 1
s = ['  *   ', ' * *  ', '***** ']

def tri(num):
    if num in [2**x for x in range(0, k+1)] :
        tri(num-1)
        print(f'{s[0]*num:^{a}}')
        print(f'{s[1]*num:^{a}}')
        print(f'{s[2]*num:^{a}}')
    elif num in [2**x-1 for x in range(0, k+1)]:
        
    
    
    
    elif num >= 1:
        tri(num-1)
        print('준비중입니다')
        
    else:
        return '종료'
        
tri(m)
        
        
        
        
        
    

# 세 줄씩 함수를 호출해서 프린트할까 재귀함수로
# 필요한 공백먼저 프린트하고 불러와서 프린트하고 하는 식으로.

# for i in range(1, n+1):

# for i in range(1, k+1):
#     li[3*(2**i)-1] = ('*'*5 + ' ')*(2**i)
# print(li)

24
                      *
                     * *
                    *****
                   *     *
                  * *   * *
                 ***** *****
준비중입니다
             *     *     *     *
            * *   * *   * *   * *
           ***** ***** ***** *****
준비중입니다
준비중입니다
준비중입니다
  *     *     *     *     *     *     *     *
 * *   * *   * *   * *   * *   * *   * *   * *
***** ***** ***** ***** ***** ***** ***** *****

In [79]:
k = 100
s = 'hello'
print(f'{s:^{k}}')
#  t: f-string과 format은 함께 쓸 수 없음.

                                               hello